.App {
  text-align: center;
}

.alert {
  width: 40%;
}

.Button_Main {
  width:300px; 
  height:50px; 
  color:#EA973E; 
  cursor:pointer;
  border-radius:10px; 
  margin-bottom: 20px;
  background:#ffffff;
  transition: all 0.3s;
  border:1px solid #EA973E; 
}

.Button_Filled {
  width:300px; 
  height:50px; 
  color:#ffffff; 
  cursor:pointer;
  border-radius:10px; 
  margin-bottom: 20px;
  background:#EA973E;
  transition: all 0.3s;
  border:0px; 
}

.Button_Back {
  width:50px;
  border:0px; 
  font-size:20px;
  cursor: pointer;
  color:#EA973E; 
  font-weight:bold;
  background-color:white; 
}

.Title_div {
  height:50px;
  display:flex;
  padding-top:5px;
  border-bottom:1px solid rgb(194, 192, 192);
}

.Title {
  margin: 0;
  font-size: 25px;
  color: #EA973E;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 55px;
}

.Input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid rgb(88, 87, 87);
}

.Mnemonic {
  height: 80px;
  width: 300px;
  margin-top:30px;
  align-items: flex-end;
}

.CopyAddress {
  transition: all 0.3s;
  padding:5px 0px;
  cursor:pointer;
  font-size:12px;
  color: black;
  margin:0
}

.CopyAddress:hover {
  color: #D3D3D3;
}

.Hambuger {
  transition: all 0.2s;
  position: absolute;
  font-weight: bold;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 10px;
  right: 0;
}

.Hambuger:hover {
  color: #D3D3D3;
}

.Modal {
  border: 1px solid #D3D3D3;
  background-color: white;
  transition: all 0.1s;
  border-radius: 10px;
  position: absolute;
  height: 300px;
  width: 200px;
  z-index: 10;
  right: 0;
}