.App {
  text-align: center;
}

.alert {
  width: 40%;
}

.Button_Main {
  width:300px; 
  height:50px; 
  color:#EA973E; 
  cursor:pointer;
  border-radius:10px; 
  margin-bottom: 20px;
  background:#ffffff;
  transition: all 0.3s;
  border:1px solid #EA973E; 
}

.Button_Filled {
  width:300px; 
  height:50px; 
  color:#ffffff; 
  cursor:pointer;
  border-radius:10px; 
  margin-bottom: 20px;
  background:#EA973E;
  border:0px; 
}

.Button_Filled:active {
  background: #C47F47;
}

.Button_Back {
  position: absolute;
  left: 0;
  width:50px;
  height: 50px;
  padding-left: 10px;
  border:0px; 
  font-size:20px;
  cursor: pointer;
  color:#EA973E; 
  font-weight:bold;
  background-color:white; 
}

.Title_div {
  height:50px;
  padding-top:5px;
  text-align: center;
  border-bottom:1px solid #D3D3D3;
}

.Title-Wrap {
  text-align: center;
  width: 310px;
}

.Title {
  margin: 0;
  font-size: 25px;
  color: #EA973E;
  font-weight: 500;
  padding-top: 10px;
}

.Input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid black;
}

.Input_Mnemonic {
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  width: 300px;
  height: 50px;
}

.Input_Account {
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  width: 300px;
  height: 20px;
}

.Mnemonic {
  height: 80px;
  width: 300px;
  margin-top:30px;
  align-items: flex-end;
}

.CopyAddress {
  transition: all 0.3s;
  padding:5px 0px;
  cursor:pointer;
  font-size:12px;
  color: black;
  width: 100px;
  margin:0
}

.CopyAddress:hover {
  color: #D3D3D3;
}

.Hambuger {
  transition: all 0.2s;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 10px;
  right: 0;
}

.Hambuger:hover {
  color: #D3D3D3;
}

.Button_Area {
  width: 100px;
}

.Button_Area button {
  background-color: #D3D3D3;
  transition: all 0.2s;
  border-radius: 10px;
  margin: 0px 20px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border: 0px;
}

.Button_Area button:hover {
  background-color: #EA973E;
}

.Button_Area p {
  font-weight: bold;
  padding-top: 5px;
  font-size: 13px;
  margin: 0;
}





/* Menu Modal ========== ========== ========== ========== ========== ==========*/
.Modal {
  border: 1px solid #D3D3D3;
  background-color: white;
  transition: all 0.1s;
  border-radius: 10px;
  position: absolute;
  height: 300px;
  width: 200px;
  z-index: 10;
  right: 0;
}

.List-wrap {
  border-bottom: 1px solid #D3D3D3;
  overflow-y: scroll;
  height: 150px;
}

.List-wrap::-webkit-scrollbar {
  width: 5px;
}

.List-wrap::-webkit-scrollbar-track {
  background-color: white;
}

.List-wrap::-webkit-scrollbar-thumb {
  background-color: #D3D3D3;
  border-radius: 10px;
}

.List-Item {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 5px;
  height: 40px;
}

.List-Item:hover {
  background-color: #D3D3D3;
}

.Bottom-Item {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding:5px;
  height: 30px;
}

.Bottom-Item:hover {
  background-color: #D3D3D3;
}





/* Confirm-Alert Component CSS ========== ========== ========== ========== ========== ==========*/
.Confirm-Alert-wrap {
  background-color: black;
  position: absolute;
  height: 600px;
  width: 370px;
  z-index: 25;
  top: 0;
}

.Confirm-Alert-content {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  height: 200px;
  width: 290px;
  z-index: 30;
  left: 40px;
  top: 40px;
}

.Message {
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.Create {
  background: #4B89DC;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
  padding: 5px;
  width: 120px;
  height: 40px;
  margin: 5px;
}

.Create:active {
  background: #2b63ac;
}

.Cancle {
  background: #FA8072;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
  padding: 5px;
  width: 120px;
  height: 40px;
  margin: 5px;
}

.Cancle:active {
  background: #a54d43;
}





/* Account Component CSS ========== ========== ========== ========== ========== ==========*/
.Account-wrap {
  background-color:black;
  position: absolute;
  height: 600px;
  width: 370px;
  z-index:15;
  top:0;
}

.Account-Content {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  height: 520px;
  width: 290px;
  z-index: 20;
  left: 40px;
  top: 40px;
}

.Account-Header {
  border-bottom:1px solid #D3D3D3;
  text-align: center;
  padding: 20px; 
  height: 30px; 
}

.Account-Header p {
  font-weight:bold; 
  font-size:20px;
  margin: 0; 
}

.Exit {
  position: absolute;
  cursor:pointer;
  padding: 15px;
  top: 10px;
  right: 0;
}

.Account-Info {
  background: #D3D3D3;
  border-radius: 10px;
  margin: 5px 25px;
  cursor: pointer;
  padding: 10px;
  width: 200px;
}

.Account-Info:hover {
  background: #b3b2b2;
}

.Account-Info:active {
  background: #7e7c7c
}

.Account-Delete {
  text-align: center;
  padding-top: 50px;
}

.Account-Delete button {
  background: #FA8072;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 250px;
  height: 50px;
  border: none;
}

.Account-Delete button:active {
  background: #a54d43;
}





/* Account Component CSS ========== ========== ========== ========== ========== ==========*/
.Send-Wrap {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding:0 15px;
  display: flex;

}

.Send-Info {
  background: #D3D3D3;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  width: 250px;
}